/* Style général de la page */
/* Importation de la police Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}


/* L'effet d'onde */
.ripple {
    position: fixed;
    width: 20px; /* Taille initiale de l'onde */
    height: 20px;
    background: rgba(255, 255, 255, 0.5); /* Couleur translucide */
    border-radius: 50%; /* Forme circulaire */
    transform: scale(0); /* Commence à taille zéro */
    animation: ripple-animation 0.8s ease-out; /* Animation fluide */
    pointer-events: none; /* L'onde ne bloque pas les clics */
}

/* Animation des ondes */
@keyframes ripple-animation {
    100% {
        transform: scale(15); /* Agrandissement de l'onde */
        opacity: 0; /* Disparaît progressivement */
    }
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: none;
    overflow: hidden;
    box-sizing: border-box;
}



/* Conteneur principal du logo */
.logo-container {
    display: flex; /* Aligne le logo et le texte horizontalement */
    align-items: center; /* Centre verticalement */
    gap: 10px; /* Espace entre le logo et le texte */
    margin-left: 30px; /* Décale le logo et texte vers la droite */
}

/* Logo en image */
.logo {
    width: 60px; /* Taille du logo */
    height: auto; /* Maintient les proportions */
}

/* Texte "Sochi" */
.logo-text {
    font-size: 16px; /* Taille du texte */
    color: white; /* Assure la lisibilité */
    text-transform: uppercase;
    margin: 0;
    padding-right: 70px;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #c1b086; /* Couleur en survol pour plus d'interaction */
}